.dropdown {
  position: relative;

  &__mobile {
    @include font-body-highlight();
    appearance: none;
    background-color: $c-white;
    color: $c-cobalt;
    border-color: $c-cobalt;
    padding: px2rem(7) px2rem(32) px2rem(9) px2rem(16);

    option {
      &:first-child {
        display: none;
      }
    }
  }

  &__desktop {
    background-color: $c-white;
    border: 1px solid $c-cobalt;
    position: relative;

    &__selected-option {
      @include font-body-highlight();
      color: $c-cobalt;
      display: block;
      padding: px2rem(7) px2rem(32) px2rem(9) px2rem(16);
    }

    &__option-list {
      list-style: none;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 100%;
    }
  }

  &__arrow {
    color: $c-cobalt;
    height: px2rem(14);
    position: absolute;
    right: px2rem(8);
    top: px2rem(9);
  }
}