.dropdown {
  position: relative;

  &__mobile {
    @include font-body-highlight();
    appearance: none;
    background-color: $c-white;
    border-radius: $borderRadius;
    color: $c-cobalt;
    border-color: $c-cobalt;
    padding: px2rem(7) px2rem(32) px2rem(9) px2rem(16);
  }

  &__desktop {
    background-color: $c-white;
    border: 1px solid $c-cobalt;
    border-radius: $borderRadius;
    cursor: pointer;
    min-width: px2rem(150);
    position: relative;

    &--open {
      border-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__selected-option {
      @include font-body-highlight();
      color: $c-cobalt;
      display: block;
      padding: px2rem(7) px2rem(32) px2rem(9) px2rem(16);
      position: relative;
    }

    &__option-list {
      border: 1px solid $c-topaz;
      border-radius: $borderRadius;
      box-shadow: 0 0 4px $c-lightGreyBlue;
      list-style: none;
      left: -1px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 1;
    }

    &__option {
      @include font-body-highlight();
      background-color: $c-white;
      border-top: 1px solid $c-paleGrey-2;
      color: $c-lightGreyBlue;
      display: block;
      padding: px2rem(7) px2rem(32) px2rem(9) px2rem(16);

      &:hover {
        background-color: $c-paleGrey-2;
        color: $c-cobalt;
      }
    }
  }

  &__arrow {
    color: $c-cobalt;
    height: px2rem(14);
    position: absolute;
    right: px2rem(8);
    top: px2rem(9);

    &--open {
      transform: rotateX(180deg);
    }
  }
}