.locale-selector {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__element {
    cursor: pointer;
    height: 16px;
    margin: 0 px2rem(5);
    opacity: 0.5;
    width: 24px;

    > img {
      height: 100%;
      width: 100%;
    }

    &--active {
      opacity: 1;
    }
  }
}