.responsive-table {
  $responsivetable: &;

  background-color: $c-white;
  margin: 0;
  overflow-x: auto;
  padding: 0 px2rem(12);
  width: 100%;

  &__row {
    cursor: pointer;
    flex-shrink: 0;
    padding-right: px2rem(16);
    width: px2rem(150);

    &:not(:first-child) {
      border-left: 1px solid $c-paleGrey-2;
      padding-left: px2rem(16);
    }

    &--head {
      width: 20%;
      max-width: px2rem(150);
    }

    &--open {
      background-color: $c-paleGrey;
    }
  }

  &__cell {
    @include font-body();
    padding: px2rem(20) 0;

    &--head {
      @include font-body-highlight();
      color: $c-cobalt;
    }
  }

  &__extra {
    background-color: $c-paleGrey;

    &__row {
      border-left: 1px solid $c-paleGrey-2;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: px2rem(16);
      min-width: px2rem(400);
    }

    &__term {
      @include font-title();
      color: $c-cobalt;
      padding-right: px2rem(8);
      width: 20%;
    }

    &__definition {
      @include font-title();
      margin: 0;
      width: 80%;
    }
  }

  @media (max-width: px2rem($bp-desktop)) {
    display: flex;

    &__cell {
      display: block;
    }

    &__extra {
      display: flex;
      &__row {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
      }
    }
  }

  @media (min-width: px2rem($bp-desktop + 1)) {
    position: relative;
    padding: 0;

    &__row {
      padding: 0;

      &:not(:first-child) {
        border-left: none;

        &:after {
          background-color: $c-paleGrey-2;
          content: '';
          display: block;
          height: 1px;
          left:px2rem(16);
          position: absolute;
          right:px2rem(16);
        }
      }
    }

    &__cell {
      padding-left: px2rem(16);
      padding-right: px2rem(16);
    }

    &__extra {
      &__row {
        border-left: none;
        border-top: 1px solid $c-paleGrey-2;
        display: grid;
        grid-template: 1fr / 15% 35% 15% 35%;
        margin: 0 px2rem(16);
        padding-left: px2rem(64);
        padding-right: px2rem(64);
      }

      &__term,
      &__definition {
        padding: px2rem(16) px2rem(4);
        width: 100%;
      }
    }
  }
}