@import "variables";
@import "mixins";

.btn {
  $btn: &;

  background-color: $c-avocado;
  border: none;
  border-radius: $borderRadius;
  color: $c-white;
  line-height: 1;
  min-width: px2rem(100);
  padding: px2rem(7) px2rem(16) px2rem(9);

  &__container {
    display: block;
    width: 100%;
  }

  &--loader {

    #{$btn}__container {
      position: relative;
    }
    .fade-enter-active {
      width: 100%;
    }
  }
}