@import "variables";
@import "mixins";

.btn {
  background-color: $c-avocado;
  border: none;
  border-radius: $borderRadius;
  color: $c-white;
  line-height: 1;
  min-width: px2rem(100);
  padding: px2rem(7) px2rem(16) px2rem(9);
}