// colors
$c-white: #fafafa;
$c-cobalt: #213d8f;
$c-greyishBrown: #4a4a4a;
$c-paleGrey: #f6f7fb;
$c-paleGrey-2: #e8ebf3;
$c-avocado: #8ec03f;
$c-lightGreyBlue: #909ec7;
$c-topaz: #1db9de;

// fonts
$f-family: 'Source Sans Pro', sans-serif;
$f-weight-regular: 400;
$f-weight-semibold: 600;
$f-size-title: 16;
$f-size-body: 14;
$f-lHeight-title: 25;

// sizes
$baseSize: 16;
$borderRadius: 3px;

// breakPoints
$bp-tablet: 768;
$bp-desktop: 1024;
