.transactions {
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: px2rem(16) 0;

    > * {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: px2rem(12);
      }
    }

    /deep/ .dropdown__mobile {
      width: 100%;
    }

    &__locale-selector {
      margin-right: auto !important;
    }
  }

  &__content {
    position: relative;

    &__empty-msg {
      @include font-body-highlight;
      align-items: center;
      background-color: $c-white;
      color: $c-cobalt;
      display: flex;
      font-size: px2rem(18);
      justify-content: center;
      height: px2rem(200);
      max-height: 40vh;
    }

    &__overlay {
      background-color: rgba($c-lightGreyBlue, 0.5);
      bottom: 0;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;

      &__icon {
        bottom: 0;
        color: $c-paleGrey;
        display: block;
        font-size: px2rem(32);
        height: px2rem(32);
        position: absolute;
        left: 0;
        margin: auto;
        top: 0;
        right: 0;
        width: px2rem(32);
      }
    }
  }

  @media (min-width: px2rem($bp-tablet)) {
    &__header {
      > * {
        width: initial;
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: px2rem(8);
        }
        &:not(:first-child) {
          margin-left: px2rem(8);
        }
      }
    }
  }
}